@import "../node_modules/tinper-bee-core/scss/minxin-colors";
@import "../node_modules/tinper-bee-core/scss/minxin-themeColors";
@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
//@import "../node_modules/tinper-bee-core/scss/minxin-palette";

// 全局设置类文件
@import "../node_modules/tinper-bee-core/scss/set-normalize";
@import "../node_modules/tinper-bee-core/scss/set-global";



// 工具类文件
@import "./utils/util-iconfont";
//@import "../node_modules/tinper-bee-core/scss/util-utilities";
@import "../node_modules/tinper-bee-core/scss/util-shadow";

@import "./component.scss";
