.page-container {
    padding-top:50px;
}
.sidebar a {
    transition:all .3s;
    text-decoration:none;
    color:#5e6d82;
    font-size: 14px;
    line-height:25px;
    cursor: pointer;
}
.sidebar a:hover {
    color:#20a0ff;
}
.sidebar .selected a {
    color:#20a0ff;
}
.demo-block {
    border-radius: 4px;
    transition: .2s;
}
.demo-block:after {
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
}
/*头部*/

.u-navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    top:0;
    left:0;
}


.u-container {
    box-sizing: border-box;
}

.u-navbar:before , .u-navbar:after ,.u-navbar-header:before , .u-navbar-header:after {
    content: "";
    display: table;
}

.u-navbar:after,.u-navbar-header:after{
    clear: both;
}

.u-navbar-default .u-navbar-toolbar > li:hover > a {
    color: rgb(97, 97, 97);
    background-color: #eeeeee;
}

.u-navbar-default .u-navbar-toolbar > li:hover >a:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.u-navbar-default .u-navbar-toolbar > li >a:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2791d8;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.u-navbar-default .u-navbar-toolbar > li a {
    cursor: pointer;
    color: rgb(117, 117, 117);
}

.nav-list .dropdown {
    position: relative;
}

.nav-list .dropdown .nav-par+ul {
    list-style: none;
    display: none;
    position: absolute;
    background: #FFF;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

@media (max-width: 767px) {
    .nav-list .dropdown .nav-par+ul {
        /*position: fixed;*/
        z-index: 100;
    }
    .nav-list .dropdown {
        position: static;
    }
}

.nav-list .dropdown:hover .nav-par+ul {
    display: block;
    margin: 0;
    padding: 10px 0px;
}

.nav-list .dropdown:hover .nav-par+ul li {
    margin: 2px 0;
    padding: 6px 13px;
    word-break: keep-all;
}

.nav-list .dropdown:hover .nav-par+ul li:hover {
    background-color: #eeeeee;
    color: rgb(97, 97, 97);
}
/*github fork*/
.github-fork-ribbon img{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width:125px;
}

.github-fork-button{
    display: none;
}

.github-fork-button a{
    display: inline-block;
    padding: 0px 5px;
    margin-top:15px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.github-fork-button a .octicon{
    vertical-align: text-top;
    overflow: hidden;
    display: inline-block;
    fill: currentColor;
}

.github-fork-button.show-min{
    display: none;
}

@media screen and (max-width:1450px) {
    .github-fork-ribbon{
        display: none;
    }

    .github-fork-button{
        display: table-cell;
        float:right;
        margin-right:10px;
    }
}

@media screen and (max-width:1000px) {
    .github-fork-button{
        margin-right: 18px;
    }
}

@media (max-width: 767px) {
    .github-fork-button.show-min{
        display: block;
    }
    .github-fork-button.show-max{
        display: none;
    }
}



/* md */
h1,h2,h3,h4,h5,h6,p,blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    background-color: white;
    margin: 10px 13px 10px 13px;
}
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
td,th {
    border: 1px solid #ddd;
    padding: 3px 10px;
}
th {
    padding: 5px 10px;
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
    font-size: 14px;
    color: #5e6d82;
    line-height: 36px;
}
h1,h2,h3,h4,h5,h6 {
    color: #1f2f3d;
    line-height: 150%;
    margin:35px 0 15px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    /*padding: 14px;*/
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}
.menu-item {
    padding: 0  16px 0 28px;
    font-size: 12px;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-item a {
    font-size:14px;
}
.menu-item a span {
    font-size: 12px;
    margin-left: 6px;
    font-weight: normal;
    opacity: .67;
}
.menu-component li {
    color: #999;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 16px;
    list-style: none;
}
#tinperBeeDemo .u-col-md-offset-1 {
    margin:0;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 16px 0;
    font-size: 13px;
}
table th,table td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
}
table th {
    background: #F7F7F7;
    white-space: nowrap;
    color: #5C6B77;
    font-weight: 600;
}
table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: "Lucida Console", Consolas, Menlo, Courier, monospace;
}