@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-button {
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  color: rgb(51,51,51);
  position: relative;
  min-width: 4.5rem;
  padding: 0.3125rem 0.8125rem;
  padding: 5px 13px \9;
  display: inline-block;
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 1.57143;
  vertical-align: middle;
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif; }
  .u-button::-moz-focus-inner {
    border: 0; }
  .u-button:hover {
    background-color: #F7F7F7; }
  .u-button:focus:not(:active) {
    background-color: rgba(0,0,0, 0.12); }
  .u-button:active {
    background-color: rgba(158,158,158, 0.40); }
  .u-button.colored {
    color: rgb(63,81,181); }
    .u-button.colored:focus:not(:active) {
      background-color: rgba(0,0,0, 0.12); }
  .u-button.disable {
    webkit-box-shadow: none;
    filter: alpha(opacity=65);
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65; }

input.u-button[type="submit"] {
  -webkit-appearance: none; }

.u-button-floating {
  border-radius: 50%;
  font-size: 0.875rem;
  height: 2.375rem;
  height: 38px \9;
  margin: auto;
  min-width: 2.375rem;
  width: 2.375rem;
  width: 38px \9;
  padding: 0;
  overflow: hidden;
  background: rgb(255,255,255);
  background: rgb(255,255,255) \9;
  position: relative;
  line-height: normal;
  border: 1px solid rgb(224,224,224); }
  .u-button-floating .fa, .u-button-floating .uf {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0.4375rem);
    line-height: 0.875rem;
    width: auto;
    width: auto \9;
    position: relative \9;
    top: 0px \9;
    left: 0px \9;
    padding: 0px; }
  .u-button-floating.mini {
    height: 1.875rem;
    min-width: 1.875rem;
    width: 1.875rem; }
  .u-button-floating.flat {
    background: transparent;
    border: none;
    box-shadow: none; }
  .u-button-floating .u-button-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black); }
  .u-button-floating:active {
    background-color: rgba(158,158,158, 0.40); }
  .u-button-floating:focus:not(:active) {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.18), 0 0.5rem 1rem rgba(0, 0, 0, 0.36);
    background-color: rgba(158,158,158, 0.40); }
  .u-button-floating.colored {
    background: rgb(67,160,71);
    color: rgb(255,255,255);
    background: rgb(255,255,255); }
    .u-button-floating.colored:hover {
      background-color: rgb(76,175,80); }
    .u-button-floating.colored:focus:not(:active) {
      background-color: rgb(67,160,71); }
    .u-button-floating.colored:active {
      background-color: rgb(67,160,71); }

.u-button-container {
  display: block;
  height: 100%;
  left: 0rem;
  position: absolute;
  top: 0rem;
  width: 100%;
  z-index: 0;
  overflow: hidden; }
  .u-button-container .u-button[disabled],
  .u-button-container .u-button.disabled {
    background-color: transparent; }

.u-button-primary {
  color: rgb(255,255,255);
  background-color: rgb(63,81,181);
  border: 1px rgb(63,81,181) solid; }
  .u-button-primary:hover {
    background-color: rgb(92,107,192);
    border-color: rgb(92,107,192); }

.u-button-accent {
  color: rgb(255,255,255);
  background-color: rgb(67,160,71);
  border: 1px rgb(67,160,71) solid; }
  .u-button-accent:hover {
    background-color: rgb(76,175,80);
    border-color: rgb(76,175,80); }

.u-button .uf, .u-button .fa {
  vertical-align: middle; }

.u-button-icon {
  border-radius: 50%;
  font-size: 0.875rem;
  height: 2rem;
  margin-left: 0;
  margin-right: 0;
  min-width: 2rem;
  width: 2rem;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal; }
  .u-button-icon.u-button-mini-icon {
    height: 0.8125rem;
    min-width: 0.8125rem;
    width: 0.8125rem; }
    .u-button-icon.u-button-mini-icon .fa {
      top: -0.03125rem;
      left: -0.03125rem; }
  .u-button-icon .u-button-ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black); }

.u-button-success {
  color: #fff;
  background-color: #4caf50;
  border: 1px  #4caf50 solid; }

.u-button-success.focus, .u-button-success:focus, .u-button-success:hover {
  background-color: #66bb6a;
  border-color: #66bb6a; }

.u-button-success.active, .u-button-success:active, .open > .dropdown-toggle.u-button-success {
  background-color: #43a047;
  border-color: #43a047; }

.u-button.active, .u-button:active {
  -webkit-box-shadow: none;
  box-shadow: none; }

.u-button.active:focus, .u-button:active:focus, .u-button:focus {
  outline: 0; }

.u-button-info {
  color: #fff;
  background-color: #00bcd4;
  border: 1px  #00bcd4 solid; }

.u-button-info.focus, .u-button-info:focus, .u-button-info:hover {
  background-color: #26c6da;
  border-color: #26c6da; }

.u-button-info.active, .u-button-info:active, .open > .dropdown-toggle.u-button-info {
  background-color: #00acc1;
  border-color: #00acc1; }

.u-button-warning {
  color: #fff;
  background-color: #ff9800;
  border: 1px  #ff9800 solid; }

.u-button-warning.focus, .u-button-warning:focus, .u-button-warning:hover {
  background-color: #ffa726;
  border-color: #ffa726; }

.u-button-warning.active, .u-button-warning:active, .open > .dropdown-toggle.u-button-warning {
  background-color: #fb8c00;
  border-color: #fb8c00; }

.u-button-danger {
  color: #fff;
  background-color: #f44336;
  border: 1px  #f44336 solid; }

.u-button-danger.focus, .u-button-danger:focus, .u-button-danger:hover {
  background-color: #ef5350;
  border-color: #ef5350; }

.u-button-danger.active, .u-button-danger:active, .open > .dropdown-toggle.u-button-danger {
  background-color: #e53935;
  border-color: #e53935; }

.u-button-border {
  color: #3f51b5;
  border: 1px solid #3f51b5; }

.u-button-border:hover {
  color: white;
  background: #3f51b5; }

.u-button-border.success {
  color: #4caf50;
  border: 1px solid #4caf50; }

.u-button-border.success:hover {
  color: white;
  background: #4caf50; }

.u-button-border.info {
  color: #00bcd4;
  border: 1px solid #00bcd4; }

.u-button-border.info:hover {
  color: white;
  background: #00bcd4; }

.u-button-border.danger {
  color: #f44336;
  border: 1px solid #f44336; }

.u-button-border.danger:hover {
  color: white;
  background: #f44336; }

.u-button-border.warning {
  color: #ff9800;
  border: 1px solid #ff9800; }

.u-button-border.warning:hover {
  color: white;
  background: #ff9800; }

.u-button-lg {
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 3px; }

.u-button-xg {
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 4px; }

.u-button-sm {
  padding: 1px 5px;
  font-size: 12px;
  border-radius: 2px; }

.u-button-squared {
  border-radius: 0; }

.u-button-round {
  border-radius: 1000px; }

.u-button-block {
  white-space: normal;
  display: block;
  width: 100%; }

.u-button-pill-left {
  border-radius: 500px 0 0 500px; }

.u-button-pill-right {
  border-radius: 0 500px 500px 0; }
