
$preferred_font: 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif !default;
// $performance_font: 'Helvetica', 'Arial', sans-serif !default;

@import "minxin-colors";


@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
$unit: 1rem !default;
/*  IMAGES  */
$image_path: '/images' !default;



/* 默认颜色 */
$trim-color-classes: false !default;

@import "minxin-themeColors";

/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
$color-text: $palette-grey-900 !default;

// cyan主题
//$color-primary: $palette-cyan-500 !default;
//$color-primary-dark: $palette-cyan-700 !default;
//$color-accent: $palette-light-blue-500 !default;

// orange主题
//$color-primary: $palette-orange-500 !default;
//$color-primary-dark: $palette-orange-700 !default;
//$color-accent: $palette-deep-orange-500 !default;

// -- Fonts
$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-size: 1.6 * $unit !default;
$font-size-tiny: 1.2 * $unit !default;
$font-size-small: 1.4 * $unit !default;
$font-size-normal: $font-size !default;
$font-size-big: 1.8 * $unit !default;
$font-weight-thin: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
$font-color:unquote("rgb(#{$palette-u-gray-A100})") !default;


$font-weight-override:    false;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-bold:        700;

$font-weight-base:        $font-weight-normal;




$gray-base:   unquote("rgb(#{$palette-grey-900})") !default;
$gray-darkest: unquote("rgb(#{$palette-grey-800})") !default;
$gray-darker:  unquote("rgb(#{$palette-grey-700})") !default;
$gray-dark:    unquote("rgb(#{$palette-grey-600})") !default;
$gray:        unquote("rgb(#{$palette-grey-500})") !default;
$gray-light:   unquote("rgb(#{$palette-grey-400})") !default;
$gray-lighter:  unquote("rgb(#{$palette-grey-300})") !default;
$gray-lightest:unquote("rgb(#{$palette-grey-200})") !default;
$inverse: unquote("rgb(#{$color-white})") !default;
$border-color-base:       $gray-lighter;
$line-height-base:        1.57142857;
/* 客户化 */
@if $styleguide-generate-template == true {
  $color-primary: '$color-primary';
  $color-primary-dark: '$color-primary-dark';
  $color-accent: '$color-accent';
  $color-primary-contrast: '$color-primary-contrast';
  $color-accent-contrast: '$color-accent-contrast';
}


/* 波纹效果 */
$ripple-bg-color: unquote("rgb(#{$color-dark-contrast})") !default;

/* 动画 */
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;
$animation-duration: .35s;
$animation-delay: $animation-duration / 5;



/* 阴影 */

$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;


$primary-color: unquote("rgba(#{$palette-grey-500}, 0.20)") !default;
//-- Indexes
$z-index-highest: 300;
$z-index-higher: 200;
$z-index-high: 100;
$z-index-normal: 1;
$z-index-low: -100;
$z-index-lower: -200;

$zindex-modal:            1700;
$zindex-modal-background: 1600;
$zindex-navbar-fixed:     1500;
$zindex-menubar:          1400;
$zindex-overlay:          1300;
$zindex-dropdown:         1200;
$zindex-navbar:           1200;
$zindex-header:           1100;
$zindex-footer:           1000;


/* ==========  字体  ========== */

$text-color-primary: unquote("rgba(#{$color-black}, 0.87)") !default;
$text-link-color: unquote("rgb(#{$color-accent})") !default;

$target-elements-directly: true !default;





/* 控件 */
//** Disabled cursor for form controls and buttons.
$cursor-disabled:   not-allowed;


$title-color:           $gray-darkest;
$subtitle-color:        $gray-darker;
$text-color:            $gray-dark;
$prompt-color:          $gray;
//全局不同状态颜色
$active-color-base:  unquote("rgb(#{$palette-indigo-700})") !default;
$normal-color-base:  unquote("rgb(#{$palette-indigo-500})") !default;
$hover-color-base:   unquote("rgb(#{$palette-indigo-500})") !default;
$bg-color-base:       $gray-lightest;
$disabled-color-base: $gray-light;
// 全局链接颜色
$link-color:            $normal-color-base;
$link-hover-color:      $hover-color-base;
$link-active-color:     $active-color-base;


$brand-default: $gray-lighter;
$brand-default-hover: $gray-lightest;
$brand-default-active:  $gray-light;

$brand-primary : unquote("rgb(#{$palette-indigo-500})") !default;
$brand-primary-hover: unquote("rgb(#{$palette-indigo-400})") !default;
$brand-primary-active: unquote("rgb(#{$palette-indigo-600})") !default;

$brand-success: unquote("rgb(#{$palette-green-500})") !default;
$brand-success-hover: unquote("rgb(#{$palette-green-400})") !default;
$brand-success-active: unquote("rgb(#{$palette-green-600})") !default;

$brand-info: unquote("rgb(#{$palette-cyan-500})") !default;
$brand-info-hover: unquote("rgb(#{$palette-cyan-400})") !default;
$brand-info-active: unquote("rgb(#{$palette-cyan-600})") !default;

$brand-warning: unquote("rgb(#{$palette-orange-500})") !default;
$brand-warning-hover: unquote("rgb(#{$palette-orange-400})") !default;
$brand-warning-active: unquote("rgb(#{$palette-orange-600})") !default;

$brand-danger:  unquote("rgb(#{$palette-red-500})") !default;
$brand-danger-hover: unquote("rgb(#{$palette-red-400})") !default;
$brand-danger-active: unquote("rgb(#{$palette-red-600})") !default;

$brand-dark:  $gray-darker;
$brand-dark-hover: $gray-dark;
$brand-dark-active:$gray-darkest;


/* UButton */

// Default button colors.
$button-primary-color: unquote("rgb(#{$color-white})") !default;
$button-primary-color-IE8: unquote("rgb(#{$color-white})") !default;
$button-secondary-color: unquote("rgb(#{$palette-u-gray-A100})") !default;
$button-hover-color: #F7F7F7 !default;
$button-active-color: unquote("rgba(#{$palette-grey-500}, 0.40)") !default;
$button-focus-color: unquote("rgba(#{$color-black}, 0.12)") !default;



// Colored button colors.
$button-primary-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-primary-hover-color-alt: unquote("rgb(#{$color-primary-light})") !default;
$button-secondary-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-hover-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-active-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-focus-color-alt: $button-focus-color !default;

// Ripple color for colored raised buttons.
$button-ripple-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;

// Disabled button colors.
$button-primary-color-disabled: unquote("rgba(#{$color-black}, 0.12)") !default;
$button-secondary-color-disabled: unquote("rgba(#{$color-black}, 0.26)") !default;

// FAB colors and sizes.
$button-fab-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-hover-color-alt: unquote("rgb(#{$color-accent-light})") !default;
$button-fab-active-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-text-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;
$button-fab-ripple-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;

// Icon button colors and sizes.
$button-icon-color: unquote("rgb(#{$palette-grey-700})") !default;
$button-icon-focus-color: $button-focus-color !default;

//Dimensions

$button-min-width: 72/16 * $unit !default;
$button-height: 36/16 * $unit !default;
$button-padding: 5/16* $unit  13/16 * $unit !default;
$button-padding-IE8: 5px 13px !default;
$button-top-padding: 13/16 * $unit !default;
$button-left-padding: 6/16* $unit !default;
$button-line-height:1.57142857;
$button-margin: 4/16 * $unit !default;
$button-border-radius: 4/16 * $unit !default;

$button-fab-size: 38/16 * $unit !default;
$button-fab-size-mini: 30/16 * $unit !default;
$button-fab-font-size: 14/16 * $unit !default;

$button-icon-size: 32/16 * $unit !default;
$button-icon-size-mini: 13/16 * $unit !default;

$button-raised-font-size: 14/16 * $unit !default;

$button-border-color:unquote("rgb(#{$palette-grey-300})") !default;

// 大按钮
$button-padding-y-lg:6px;
$button-padding-x-lg:15px;
$font-size-lg:14px;
$button-border-radius-lg:3px;

//特大型按钮
$button-padding-y-xg:10px;
$button-padding-x-xg:18px;
$font-size-xg:18px;
$button-border-radius-xg:4px;

//小型按钮
$button-padding-y-sm:1px;
$button-padding-x-sm:5px;
$font-size-sm:12px;
$button-border-radius-sm:2px;


/* UText */
$input-text-background-color: transparent !default;
$input-text-label-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$input-text-bottom-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$input-text-bottom-border-color-IE8: unquote("rgb(#{$color-black})") !default;
$input-text-highlight-color: unquote("rgb(#{$color-primary})") !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: unquote("rgb(222, 50, 38)") !default;
$input-text-must-color:unquote("rgb(#{$palette-red-A700})") !default;


$input-text-font-size: 14px !default;
$input-text-width: 100% !default;
$input-text-padding: 4px !default;
$input-text-vertical-spacing: 20px !default;

$input-text-button-size: 32px !default;
$input-text-floating-label-fontsize: 12px !default;
$input-text-expandable-icon-top: 16px !default;
$input-text-height:36px !default;
$input-text-normal-width:360px !default;
$input-text-short-width:180px !default;
$input-text-normal-border-color:unquote("rgb(#{$palette-u-gray-400})") !default;
$input-text-color:unquote("rgb(#{$palette-u-gray-A200})") !default
$input-text-focus-border-color:unquote("rgb(#{$palette-u-blue-400})") !default;
$input-lable-color:unquote("rgb(#{$palette-u-gray-900})") !default

/*  Navlayout  */

$layout-nav-color: unquote("rgb(#{$palette-grey-100})") !default;

// Drawer
$layout-drawer-bg-color: unquote("rgb(#{$palette-grey-50})") !default;
$layout-drawer-border-color: unquote("rgb(#{$palette-grey-300})") !default;
$layout-text-color: unquote("rgb(#{$palette-grey-800})") !default;
$layout-drawer-navigation-color: #757575 !default;
$layout-drawer-navigation-link-active-background: unquote("rgb(#{$palette-grey-200})") !default;
$layout-drawer-navigation-link-active-color: $layout-text-color !default;

// Header
$layout-header-bg-color: unquote("rgb(#{$color-primary})") !default;
$layout-header-text-color: unquote("rgb(#{$color-primary-contrast})") !default;
$layout-header-nav-hover-color: unquote("rgba(#{$palette-grey-700}, 0.6)") !default;
$layout-header-tab-text-color: unquote("rgba(#{$color-primary-contrast}, 0.6)") !default;

// Tabs
$layout-header-tab-highlight: unquote("rgb(#{$color-accent})") !default;

$layout-nav-link-font-size: 13px !default;

$layout-drawer-narrow: 240px !default;
$layout-drawer-wide: 456px !default;
$layout-drawer-width: $layout-drawer-narrow !default;

$layout-header-icon-size: 32px !default;
$layout-screen-size-threshold: 1024px !default;
$layout-header-icon-margin: 24px !default;
$layout-drawer-button-mobile-size: 44px !default;
$layout-drawer-button-desktop-size: 34px !default;
$layout-drawer-button-desktop-margin-top: 5px !default;
$layout-drawer-button-mobile-margin-top: 10px !default;

$layout-header-mobile-row-height: 56px !default;
$layout-mobile-header-height: $layout-header-mobile-row-height;
$layout-header-desktop-row-height: 44px !default;
$layout-desktop-header-height: $layout-header-desktop-row-height;

$layout-header-desktop-baseline: 80px !default;
$layout-header-mobile-baseline: 72px !default;
$layout-header-mobile-indent: 16px !default;
$layout-header-desktop-indent: 40px !default;

$layout-tab-font-size: 14px !default;
$layout-tab-bar-height: 48px !default;
$layout-tab-mobile-padding: 12px !default;
$layout-tab-desktop-padding: 24px !default;
$layout-tab-highlight-thickness: 2px !default;

/* gridlayout */

// Extra small screen / phone
//$screen-xs:                  480px;

$screen-xs-min:              480px;
//** Deprecated `@screen-phone` as of v3.0.1
//@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
//@screen-sm:                  768px;
$screen-sm-min:              768px;
//** Deprecated `@screen-tablet` as of v3.0.1
//@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
//@screen-md:                  992px;
$screen-md-min:              992px;
//** Deprecated `@screen-desktop` as of v3.0.1
//@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
//@screen-lg:                  1200px;
$screen-lg-min:              1200px;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
//@screen-lg-desktop:          @screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1 );

$screen-sm-max: ($screen-sm-min -  1 );

$screen-md-max: ($screen-lg-min - 1 );




//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     768px;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `@screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `@screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `@screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//$grid-desktop-columns: 12 !default;
//$grid-desktop-gutter: 16px !default;
//$grid-desktop-margin: 16px !default;
//
//$grid-desktop-breakpoint: 840px !default;
//
//$grid-large-desktop-breakpoint: 1200px !default;
//
//$grid-large-desktop-columns: $grid-desktop-columns !default;
//$grid-large-desktop-gutter: $grid-desktop-gutter !default;
//$grid-large-desktop-margin: $grid-desktop-margin !default;
//
//$grid-tablet-columns: 8 !default;
//$grid-tablet-gutter: $grid-desktop-gutter !default;
//$grid-tablet-margin: $grid-desktop-margin !default;
//
//$grid-tablet-breakpoint: 480px !default;
//
//$grid-phone-columns: 4 !default;
//$grid-phone-gutter: $grid-desktop-gutter !default;
//$grid-phone-margin: $grid-desktop-margin !default;
//
//$grid-cell-default-columns: $grid-phone-columns !default;
//$grid-max-columns: $grid-desktop-columns !default;

/* menu */

$default-dropdown-bg-color: unquote("rgb(#{$color-white})") !default;
$menu-expand-duration: 0.3s !default;
$menu-fade-duration: 0.2s !default;

// Default Item Colors
$default-item-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
$default-item-text-color-IE8: unquote("rgb(#{$color-black})") !default;
$default-item-outline-color: unquote("rgb(#{$palette-u-blue-400})") !default;
$default-item-hover-bg-color: unquote("rgb(#{$palette-u-blue-100})") !default;
$default-item-focus-bg-color: unquote("rgb(#{$palette-u-blue-200})") !default;
$default-item-active-bg-color: unquote("rgb(#{$palette-u-blue-200})") !default;
$default-item-divider-color: unquote("rgba(#{$color-black}, 0.12)") !default;

// Disabled Button Colors
$disabled-item-text-color: unquote("rgb(#{$palette-grey-400})") !default;


/* CHECKBOX */

$checkbox-color: unquote("rgb(#{$color-primary})") !default;
$checkbox-off-color: unquote("rgb(#{$palette-u-gray-600})") !default;
$checkbox-off-color-IE8: unquote("rgb(#{$palette-u-gray-600})") !default;
$checkbox-disabled-color: unquote("rgb(#{$palette-u-gray-600})") !default;
$checkbox-focus-color: unquote("rgba(#{$palette-u-blue-500}, 0.26)") !default;
$checkbox-image-path: $image_path;

$checkbox-label-font-size: 13px !default;
$checkbox-label-height: 24px !default;
$checkbox-button-size: 16px !default;
$checkbox-inner-margin: 2px !default;
$checkbox-padding: 8px !default;
$checkbox-top-offset:
        ($checkbox-label-height - $checkbox-button-size - $checkbox-inner-margin) / 2;
$checkbox-ripple-size: $checkbox-label-height * 1.5;

$checkbox-primary-bg:  $brand-primary;
$checkbox-success-bg:  $brand-success;
$checkbox-info-bg:  $brand-info;
$checkbox-warning-bg: $brand-warning;
$checkbox-danger-bg: $brand-danger;
$checkbox-dark-bg:  $brand-dark;

$progress-primary-bg:  $brand-primary;
$progress-success-bg:  $brand-success;
$progress-info-bg:  $brand-info;
$progress-warning-bg: $brand-warning;
$progress-danger-bg: $brand-danger;
$progress-dark-bg:  $brand-dark;

$color-primary-opacity:unquote("rgba(#{$color-primary}, 0.7)") !default;
$color-success-opacity:unquote("rgba(#{$palette-green-500}, 0.7)") !default;
$color-info-opacity:unquote("rgba(#{$palette-cyan-500}, 0.7)") !default;
$color-warning-opacity:unquote("rgba(#{$palette-orange-500}, 0.7)") !default;
$color-danger-opacity:unquote("rgba(#{$palette-red-500}, 0.7)") !default;
$color-dark-opacity:unquote("rgba(#{$palette-grey-700}, 0.7)") !default;

/*  Radio  */

$radio-color: unquote("rgb(#{$color-primary})") !default;
$radio-off-color: unquote("rgb(#{$palette-u-gray-600})") !default;
$radio-off-color-IE8: unquote("rgb(#{$palette-u-gray-600})") !default;
$radio-disabled-color: unquote("rgb(#{$palette-u-gray-600})") !default;

$radio-label-font-size: 13px !default;
$radio-label-height: 32px !default;
$radio-button-size: 16px !default;
$radio-inner-margin: $radio-button-size / 4;
$radio-padding: 8px !default;
$radio-top-offset: ($radio-label-height - $radio-button-size) / 2;
$radio-ripple-size: 42px !default;

$radio-primary-bg:            $brand-primary;
$radio-success-bg:            $brand-success;
$radio-info-bg:               $brand-info;
$radio-warning-bg:            $brand-warning;
$radio-danger-bg:             $brand-danger;
$radio-dark-bg:               $brand-dark;

/* Switch  */

$switch-color: unquote("rgb(#{$color-primary})") !default;
$switch-faded-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$switch-thumb-color: #fff !default;
$switch-track-color: unquote("rgb(#{$color-primary})") !default;

$switch-off-thumb-color: unquote("rgb(#{$palette-grey-50})") !default;
$switch-off-track-color: unquote("rgb(#{$color-white})") !default;
$switch-off-track-color-IE8: unquote("rgb(#{$color-black})") !default;
$switch-disabled-thumb-color: unquote("rgb(#{$palette-grey-400})") !default;
$switch-disabled-track-color: unquote("rgba(#{$color-black}, 0.12)") !default;

$switch-label-font-size: 13px !default;
$switch-label-height: 24px !default;
$switch-track-height: 21px !default;
$switch-track-length: 40px !default;
$switch-thumb-size: 20px !default;
$switch-track-top: ($switch-label-height - $switch-track-height) / 2 !default;
$switch-thumb-top: ($switch-label-height - $switch-thumb-size) / 2 !default;
$switch-ripple-size: $switch-label-height * 2 !default;
$switch-helper-size: 8px !default;

$switch-primary-bg:  $brand-primary;
$switch-success-bg:  $brand-success;
$switch-info-bg:  $brand-info;
$switch-warning-bg: $brand-warning;
$switch-danger-bg: $brand-danger;
$switch-dark-bg:  $brand-dark;

//特大号switch
$switch-width-lg: 66px;
$switch-height-lg: 36px;
$switch-border-radius-lg: 36px;
$switch-border-left-lg: 31px;

//默认尺寸switch
$switch-width-default: 45px;
$switch-height-default: 24px;
$switch-border-radius-default: 24px;
$switch-border-left-default: 22px;

//小尺寸switch
$switch-width-sm: 33px;
$switch-height-sm: 20px;
$switch-border-radius-sm: 20px;
$switch-border-left-sm: 14px;

/* loading */

$loading-color-1: unquote("rgb(#{$palette-blue-400})") !default;
$loading-color-2: unquote("rgb(#{$palette-red-500})") !default;
$loading-color-3: unquote("rgb(#{$palette-yellow-600})") !default;
$loading-color-4: unquote("rgb(#{$palette-green-500})") !default;

$loading-single-color: unquote("rgb(#{$color-primary})") !default;

$loading-size: 28px !default;
$loading-stroke-width: 3px !default;

// Amount of circle the arc takes up.
$loading-arc-size: 270deg !default;
// Time it takes to expand and contract arc.
$loading-arc-time: 1333ms !default;
// How much the start location of the arc should rotate each time.
$loading-arc-start-rot: 216deg !default;

$loading-duration: 360 * $loading-arc-time / (
    strip-units($loading-arc-start-rot + (360deg - $loading-arc-size)));

/* datetimepicker */

$date-bg-color: unquote("rgb(#{$color-primary})") !default;

/* message */
$snackbar-color: unquote("rgb(#{$color-white})") !default;
$snackbar-background-color: unquote("rgb(#{$color-primary})") !default;
$snackbar-color-cancel: unquote("rgb(#{$palette-red-500})") !default;
$snackbar-color-accept: unquote("rgb(#{$palette-green-500})") !default;
$snackbar-color-warning: unquote("rgb(#{$palette-lime-200})") !default;

/* DATA TABLE */

$data-table-font-size: 13px !default;
$data-table-header-font-size: 12px !default;
$data-table-header-sort-icon-size: 16px !default;

$data-table-header-color: rgba(#000, 0.54) !default;
$data-table-header-sorted-color: rgba(#000, 0.87) !default;
$data-table-divider-color: rgba(#000, 0.12) !default;
$data-table-divider-color-IE8: rgb(0,0,0) !default;

//$data-table-hover-color: #eeeeee !default;
$data-table-hover-color: #E9F7FC !default;
$data-table-selection-color: #C4EAF6 !default;

$data-table-dividers: 1px solid $data-table-divider-color !default;
$data-table-dividers-IE8: 1px solid $data-table-divider-color-IE8 !default;

$data-table-row-height: 48px !default;
$data-table-last-row-height: 56px !default;
$data-table-header-height: 56px !default;

$data-table-column-spacing: 36px !default;
$data-table-column-padding: $data-table-column-spacing / 2;

$data-table-card-header-height: 64px !default;
$data-table-card-title-top: 20px !default;
$data-table-card-padding: 24px !default;
$data-table-button-padding-right: 16px !default;
$data-table-cell-top: $data-table-card-padding / 2;

// $line-height-computed:    round(($font-size-small * $line-height-base));
$line-height-computed:    round((14px * $line-height-base));
$table-bg:                transparent;
$table-cell-padding:            8px;
$table-border-color:            $border-color-base;
$table-bg-hover:                $bg-color-base;
$table-bg-active:               $table-bg-hover;
$table-bg-accent:               unquote("rgba(#{$palette-grey-200},.3)") !default;




/* tooltip*/
$tooltip-background: rgba(97,97,97,.9) !default;
$tooltip-margin: 0.5 * $unit !default;
$tooltip-border-radius: .2 * $unit !default;
$tooltip-color: #fff !default;
$tooltip-max-width: 17 * $unit !default;
$tooltip-padding: .8 * $unit !default;
$tooltip-animation-duration: 200ms !default;

/* 进度条 */
$bar-height: 4px !default;
$progress-main-color: unquote("rgb(#{$color-primary})") !default;
$progress-secondary-color: unquote("rgba(#{$color-primary-contrast}, 0.7)") !default;
$progress-fallback-buffer-color: unquote("rgba(#{$color-primary-contrast}, 0.9)") !default;
$progress-image-path: $image_path;
$progress-buffer-bar-border:unquote("rgb(#{$palette-u-gray-600})") !default;

// Tabs
$layout-header-tab-highlight: unquote("rgb(#{$color-accent})") !default;

/* ==========  Content Tabs  ========== */

$tab-highlight-color: unquote("rgb(#{$color-primary})") !default;
$tab-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$tab-active-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
$tab-border-color: unquote("rgb(#{$palette-grey-300})") !default;



/* CARD */

/* Card dimensions */
$card-width: 330px !default;
$card-height: 200px !default;
$card-font-size: 13px !default;
$card-title-font-size: 24px !default;
$card-subtitle-font-size: 10px !default;
$card-horizontal-padding: 16px !default;
$card-vertical-padding: 16px !default;

$card-title-perspective-origin-x: 165px !default;
$card-title-perspective-origin-y: 56px !default;

$card-title-transform-origin-x: 165px !default;
$card-title-transform-origin-y: 56px !default;

$card-title-text-transform-origin-x: 149px !default;
$card-title-text-transform-origin-y: 48px !default;

$card-supporting-text-font-size: 1rem !default;
$card-supporting-text-line-height: 18px !default;

$card-actions-font-size: 13px !default;

$card-title-text-font-weight: 300 !default;
$card-z-index: 1 !default;

/* Cover image */
$card-cover-image-height: 186px !default;
$card-background-image-url: '' !default;

/* ==========  Card  ========== */

$card-background-color: unquote("rgb(#{$color-white})") !default;
$card-text-color: unquote("rgb(#{$color-black})") !default;
$card-image-placeholder-color: unquote("rgb(#{$color-accent})") !default;
$card-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$card-border-color: rgba(0,0,0,0.1) !default;
$card-subtitle-color: unquote("rgba(#{$color-black}, 0.54)") !default;

/* ============ Forms ============*/
$input-border:unquote("rgb(#{$palette-u-gray-500})");
$input-border-focus:unquote("rgb(#{$color-primary})");
$input-border-disabled:unquote("rgb(#{$palette-u-gray-100})");
$input-bg-disabled:unquote("rgb(#{$palette-u-gray-100})");
$input-color:unquote("rgb(#{$palette-u-gray-A100})");
$form-input-height:36px;
$form-input-height-sm:28px;
$form-input-padding-left:12px;
$form-label-color:unquote("rgb(#{$palette-u-gray-900})");
$form-control-feedback-color:unquote("rgb(#{$palette-u-gray-700})");
$form-validate-error-color:unquote("rgb(#{$palette-u-red-600})");


/* BADGE */
$badge-font-size: 12px !default;
$badge-color: unquote("rgb(#{$color-accent-contrast})") !default;
$badge-color-inverse: unquote("rgb(#{$color-accent})") !default;
$badge-background: unquote("rgb(#{$color-accent})") !default;
$badge-background-inverse: unquote("rgba(#{$color-accent-contrast},0.2)") !default;
$badge-size : 22px !default;
$badge-padding: 2px !default;
$badge-overlap: 12px !default;

$badge-primary-color:#FFFFFF;
$badge-primary-bg:$brand-primary;

$badge-success-color:#FFFFFF;
$badge-success-bg: $brand-success;

$badge-info-color:#FFFFFF;
$badge-info-bg:$brand-info;

$badge-warning-color:#FFFFFF;
$badge-warning-bg:$brand-warning;

$badge-danger-color:#FFFFFF;
$badge-danger-bg:$brand-danger;

$badge-dark-color:#FFFFFF;
$badge-dark-bg:$brand-dark;

// labels
$tag-padding: .25em .6em .25em;
$tag-border-radius:  0.3em;
$tag-bg: #eeeeee;
$tag-round-border-radius:   1em;
$tag-default-color: #757575;
$tag-default-bg:#e0e0e0;
$tag-lg-font-size:          16px;
$tag-sm-font-size:          10px;
$tag-sm-padding:            .1em .5em .1em;
$tag-default-hover-bg: $brand-default-hover;
$tag-primary-hover-bg: $brand-primary-hover;
$tag-success-hover-bg: $brand-success-hover;
$tag-info-hover-bg:   $brand-info-hover;
$tag-warning-hover-bg: $brand-warning-hover;
$tag-danger-hover-bg: $brand-danger-hover;
$tag-dark-hover-bg: $brand-dark-hover;
$tag-default-bg:            $brand-default;
$tag-primary-bg:            $brand-primary;
$tag-success-bg:            $brand-success;
$tag-info-bg:               $brand-info;
$tag-warning-bg:            $brand-warning;
$tag-danger-bg:             $brand-danger;
$tag-dark-bg:               $brand-dark;
$tag-default-hover-color:unquote("rgb(#{$palette-u-gray-500})");


// pagination
$pagination-gap-hover-border:unquote("rgb(#{$color-primary})");

$pagination-link-padding:                   7px 13px;
$pagination-lg-font-size:                   16px;
$pagination-lg-padding-vertical:            9px;
$pagination-lg-padding-horizontal:          15px;

$pagination-small-font-size:               	14px;
$pagination-small-padding-vertical:         5px;
$pagination-small-padding-horizontal:       9px;

$border-radius-base:        3px;
$border-radius-large:       4px;
$border-radius-small:       2px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;
// widget

$widget-padding-left:30px;
$widget-padding-top:10px;

//tooltips

$tooltip-default-bg: $brand-default;
$tooltip-primary-bg: $brand-primary;
$tooltip-success-bg: $brand-success;
$tooltip-info-bg: $brand-info;
$tooltip-warning-bg: $brand-warning;
$tooltip-danger-bg: $brand-danger;
$tooltip-dark-bg: $brand-dark;

//menu Button

$menu-default-bg: $brand-default;
$menu-primary-bg: $brand-primary;
$menu-success-bg: $brand-success;
$menu-info-bg: $brand-info;
$menu-warning-bg: $brand-warning;
$menu-danger-bg: $brand-danger;
$menu-dark-bg: $brand-dark;
$menu-default-bg-hover: $brand-default-hover;
$menu-primary-bg-hover: $brand-primary-hover;
$menu-success-bg-hover: $brand-success-hover;
$menu-info-bg-hover: $brand-info-hover;
$menu-warning-bg-hover: $brand-warning-hover;
$menu-danger-bg-hover: $brand-danger-hover;
$menu-dark-bg-hover: $brand-dark-hover;


// breadcrumbs

$border-radius-base:        3px;
$border-radius-large:       4px;
$border-radius-small:       2px;

$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 10px;
$breadcrumb-separator:          "/\00a0";
$breadcrumb-bg:                 transparent;
$breadcrumb-margin-bottom:            10px;

$breadcrumb-color:              $link-color;
$breadcrumb-active-color:       $text-color;

$breadcrumb-icon-margin-right:        10px;
$breadcrumb-arrow-separator:          "\00bb\00a0";


// list-group
$list-group-media-heading-font-size      : $font-size-small;//14px
$list-group-link-disabled-color          : $disabled-color-base;

$list-group-link-disabled-bg             : $gray-lightest;

$list-group-active-color                 : $brand-primary;
$list-group-link-active-color            : unquote("rgb(#{$color-white})") !default;
$list-group-link-active-bg               : $brand-primary;


$list-group-item-icon-margin-right       : 10px;

$list-group-bg-inherit-item-border       : rgba(0, 0, 0, 0.075);
$list-group-bg-inherit-item-hover-bg     : rgba(0, 0, 0, 0.075);


$list-group-border-radius:      $border-radius-base;



$list-group-link-color:          $text-color;
$list-group-link-hover-color:    $text-color;
$list-group-link-heading-color:  $title-color;

$list-group-hover-bg:           $bg-color-base;

$list-group-disabled-bg:         transparent;

$list-group-disabled-color:      $disabled-color-base;


$list-group-disabled-text-color: $list-group-disabled-color;
$list-group-active-bg:          transparent;
$list-group-active-border:      $list-group-active-bg;
// $list-group-active-text-color:  lighten($list-group-active-color, 40%);
$list-group-active-text-color:  $list-group-active-color;

$list-group-bg:                 #fff;
$list-group-border:             transparent;
// $list-group-bordered-border              : $border-color-base;
// $list-group-bordered-active-color        : $component-active-color;
// $list-group-bordered-active-bg           : $component-active-bg;
// $list-group-bordered-active-border       : $list-group-bordered-active-bg;

// $list-group-gap-item-margin-bottom       : 2px;

//step
$steps-margin-bottom: $line-height-computed;
$step-padding-horizontal:20px;
$step-padding-vertical: 12px;

$step-vertical-padding-horizontal: 20px;
$step-vertical-padding-vertical:18px;

$step-color: $gray;
$step-bg: $bg-color-base;
$step-number-bg: $gray-lighter;
$step-number-color: $inverse;

$step-current-color: $inverse;
$step-current-bg: $brand-primary;

$step-done-color: $inverse;
$step-done-bg:$brand-success;

$step-error-color: $inverse;
$step-error-bg: $brand-danger;

$step-disabled-color:$gray-light;

$step-font-size: inherit;
$step-title-font-size: 20px;
$step-icon-font-size:27px;
$step-number-font-size:24px;
$step-number-size: 40px;

$step-lg-padding-horizontal:20px;
$step-lg-padding-vertical:20px;
$step-lg-font-size: 16px;
$step-lg-title-font-size:22px;
$step-lg-icon-font-size: 32px;
$step-lg-number-font-size:28px;
$step-lg-number-size:46px;

$step-sm-font-size: 12px;
$step-sm-title-font-size: 18px;
$step-sm-icon-font-size: 24px;
$step-sm-number-font-size: 24px;
$step-sm-number-size: 30px;

$step-xs-font-size: 10px;
$step-xs-title-font-size: 16px;
$step-xs-icon-font-size: 22px;
$step-xs-number-font-size: 20px;
$step-xs-number-size: 24px;

// blog nav
$blognav-active-color:unquote("rgb(#{$color-primary})");
// widget
$widget-padding-left:30px;
$widget-padding-top:10px;


// couter 数据统计

$counter-number-color:        $gray-darkest;
$counter-number-font-size:    20px;
$counter-icon-font-size:      $counter-number-font-size;

$counter-lg-number-font-size: 40px;
$counter-md-number-font-size: 30px;
$counter-sm-number-font-size: 14px;

$counter-lg-icon-font-size:   $counter-lg-number-font-size;
$counter-md-icon-font-size:   $counter-md-number-font-size;
$counter-sm-icon-font-size:   $counter-sm-number-font-size;

$counter-inverse-color:       $inverse;


// navbar

// Basics of a navbar
$navbar-height:                    50px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-avatar-margin-horizontal:  (($navbar-height - 32px) / 2);

$navbar-brand-padding-horizontal:  20px;
$navbar-brand-logo-height:         32px;

$navbar-default-color:                    $text-color;
$navbar-default-bg:                       $inverse;
$navbar-default-border:                   $border-color-base;

// Navbar links
$navbar-default-link-color:               $text-color;
$navbar-default-link-hover-color:         $gray-darker;
$navbar-default-link-hover-bg:            rgba(238,238,238, 30%);
$navbar-default-link-active-color:        $navbar-default-link-hover-color;
$navbar-default-link-active-bg:           rgba(238,238,238, 60%);
$navbar-default-link-disabled-color:      $disabled-color-base;
$navbar-default-link-disabled-bg:         transparent;

// Navbar brand label
$navbar-default-brand-color:              $title-color;
$navbar-default-brand-hover-color:        $navbar-default-brand-color;
$navbar-default-brand-hover-bg:           none;

// Navbar toggle
$navbar-default-toggle-hover-bg:          $navbar-default-link-hover-bg;
$navbar-default-toggle-icon-bar-bg:       $navbar-default-color;
$navbar-default-toggle-border-color:      transparent;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                     $inverse;
$navbar-inverse-bg:                        $brand-primary;
$navbar-inverse-border:                    rgba(0, 0, 0, .1);

// Inverted navbar links
$navbar-inverse-link-color:                $inverse;
$navbar-inverse-link-hover-color:          $inverse;
$navbar-inverse-link-hover-bg:             rgba(0, 0, 0, .1);
$navbar-inverse-link-active-color:         $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:            $navbar-inverse-link-hover-bg;
$navbar-inverse-link-disabled-color:       $inverse;
$navbar-inverse-link-disabled-bg:          transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:               $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:         $inverse;
$navbar-inverse-brand-hover-bg:            none;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:           $navbar-inverse-link-hover-bg;
$navbar-inverse-toggle-icon-bar-bg:        $inverse;
$navbar-inverse-toggle-border-color:       transparent;

//hamburger
$hamburger-size: 17px;
