
@font-face {font-family: "uf";
  src: url('./iconfont.eot'); /* IE9*/
  src: url('../node_modules/tinper-bee-core/scss/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg') format('svg'); /* iOS 4.1- */
}

.uf {
  font-family:"uf" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.uf-renren:before { content: "\e72f"; }
.uf-xinlang:before { content: "\e754"; }
.uf-douban:before { content: "\e755"; }
.uf-kongqiyutian:before { content: "\e771"; }
.uf-tianqi:before { content: "\e772"; }
.uf-tengxunweibo:before { content: "\e756"; }
.uf-shejiao:before { content: "\e758"; }
.uf-iconfontapptianqi:before { content: "\e773"; }
.uf-guanbi1:before { content: "\e765"; }
.uf-shanchu:before { content: "\e766"; }
.uf-icclose:before { content: "\e767"; }
.uf-icclose4:before { content: "\e768"; }
.uf-close:before { content: "\e769"; }
.uf-zsxhao:before { content: "\e76a"; }
.uf-plus:before { content: "\e763"; }
.uf-quxiao:before { content: "\e76b"; }
.uf-tencent-circle:before { content: "\e759"; }
.uf-qzone-circle:before { content: "\e75d"; }
.uf-qzone-circle1:before { content: "\e75e"; }
.uf-qq:before { content: "\e75f"; }
.uf-tianqi1:before { content: "\e774"; }
.uf-saoyisao:before { content: "\e764"; }
.uf-tian7_weibo:before { content: "\e760"; }
.uf-addsquarebutton:before { content: "\e600"; }
.uf-adjustcontrast:before { content: "\e601"; }
.uf-alignjustify:before { content: "\e602"; }
.uf-aligntoleft:before { content: "\e603"; }
.uf-aligntoright:before { content: "\e604"; }
.uf-ambulance:before { content: "\e605"; }
.uf-anchorshape:before { content: "\e606"; }
.uf-anglearrowdown:before { content: "\e608"; }
.uf-addsquarebutton1:before { content: "\e609"; }
.uf-adjustcontrast1:before { content: "\e60a"; }
.uf-alignjustify1:before { content: "\e60b"; }
.uf-aligntoleft1:before { content: "\e60c"; }
.uf-aligntoright1:before { content: "\e60d"; }
.uf-ambulance1:before { content: "\e60e"; }
.uf-anchorshape1:before { content: "\e60f"; }
.uf-androidcharactersymbol:before { content: "\e610"; }
.uf-anglearrowpointingtoright:before { content: "\e611"; }
.uf-anglepointingtoleft:before { content: "\e612"; }
.uf-archiveblackbox:before { content: "\e613"; }
.uf-arrowanglepointingdown:before { content: "\e614"; }
.uf-arrowdownonblackcircularbackground:before { content: "\e615"; }
.uf-arrowpointingdown:before { content: "\e616"; }
.uf-arrowpointingrightinacircle:before { content: "\e617"; }
.uf-arrowpointingtoleft:before { content: "\e618"; }
.uf-arrowpointingtoright:before { content: "\e619"; }
.uf-arrowuponablackcirclebackground:before { content: "\e61a"; }
.uf-arrowup:before { content: "\e61b"; }
.uf-arrowheadpointingtotheright:before { content: "\e61c"; }
.uf-arrowheadpointingupinsideasquareboxoutline:before { content: "\e61d"; }
.uf-arrowheadspointingtotheleft:before { content: "\e61e"; }
.uf-asterisk:before { content: "\e61f"; }
.uf-bancirclesymbol:before { content: "\e620"; }
.uf-bargraphonarectangle:before { content: "\e621"; }
.uf-barcode:before { content: "\e622"; }
.uf-beaker:before { content: "\e623"; }
.uf-bellmusicaltool:before { content: "\e624"; }
.uf-bitbucketlogotypecameralensinperspective:before { content: "\e625"; }
.uf-bitbucketsign:before { content: "\e626"; }
.uf-bitcoinlogo:before { content: "\e627"; }
.uf-blankfile:before { content: "\e628"; }
.uf-boldtextoption:before { content: "\e629"; }
.uf-book:before { content: "\e62a"; }
.uf-bookmarkblackshape:before { content: "\e62b"; }
.uf-bookmarkwhite:before { content: "\e62c"; }
.uf-branchwithleavesblackshape:before { content: "\e62d"; }
.uf-briefcase:before { content: "\e62e"; }
.uf-bug:before { content: "\e62f"; }
.uf-buildingfront:before { content: "\e630"; }
.uf-bullhornannouncer:before { content: "\e631"; }
.uf-bullseye:before { content: "\e632"; }
.uf-calendarpageempty:before { content: "\e633"; }
.uf-calendarwithspringbinderanddateblocks:before { content: "\e634"; }
.uf-cameraretro:before { content: "\e635"; }
.uf-caretarrowup:before { content: "\e636"; }
.uf-caretdown:before { content: "\e637"; }
.uf-centertextalignment:before { content: "\e638"; }
.uf-certificateshape:before { content: "\e639"; }
.uf-checkboxempty:before { content: "\e63a"; }
.uf-checkmark:before { content: "\e63b"; }
.uf-checksigninaroundedblacksquare:before { content: "\e63c"; }
.uf-check:before { content: "\e63d"; }
.uf-checkedsymbol:before { content: "\e63e"; }
.uf-checkeredraisedflag:before { content: "\e63f"; }
.uf-chevronarrowdown:before { content: "\e640"; }
.uf-chevronarrowup:before { content: "\e641"; }
.uf-chevronpointingtotheleft:before { content: "\e642"; }
.uf-chevronsigndown:before { content: "\e643"; }
.uf-chevronsignleft:before { content: "\e644"; }
.uf-chevronsigntoright:before { content: "\e645"; }
.uf-chevronup:before { content: "\e646"; }
.uf-circleshapeoutline:before { content: "\e647"; }
.uf-circlewithanarrowpointingtoleft:before { content: "\e648"; }
.uf-circularshapesilhouette:before { content: "\e649"; }
.uf-cloudstoragedownload:before { content: "\e64a"; }
.uf-cloudstorageuploadingoption:before { content: "\e64b"; }
.uf-cocktailglass:before { content: "\e64c"; }
.uf-codeforksymbol:before { content: "\e64d"; }
.uf-code:before { content: "\e64e"; }
.uf-coffeecuponaplateblacksilhouettes:before { content: "\e64f"; }
.uf-cogwheelsilhouette:before { content: "\e650"; }
.uf-collapsewindowoption:before { content: "\e651"; }
.uf-commentblackovalbubbleshape:before { content: "\e652"; }
.uf-commentwhiteovalbubble:before { content: "\e653"; }
.uf-comments:before { content: "\e654"; }
.uf-compasscircularvariant:before { content: "\e655"; }
.uf-computertablet:before { content: "\e656"; }
.uf-copydocument:before { content: "\e657"; }
.uf-correctsymbol:before { content: "\e658"; }
.uf-coupleofarrowschangingplaces:before { content: "\e659"; }
.uf-creditcard:before { content: "\e65a"; }
.uf-cropsymbol:before { content: "\e65b"; }
.uf-crossmarkonablackcirclebackground:before { content: "\e65c"; }
.uf-cursor:before { content: "\e65d"; }
.uf-cut:before { content: "\e65e"; }
.uf-dashboard:before { content: "\e65f"; }
.uf-deliverytrucksilhouette:before { content: "\e660"; }
.uf-desktopmonitor:before { content: "\e661"; }
.uf-dotandcircle:before { content: "\e662"; }
.uf-doubleanglepointingtoright:before { content: "\e663"; }
.uf-doubleleftchevron:before { content: "\e664"; }
.uf-doublesidederaser:before { content: "\e665"; }
.uf-doublestrikethroughoption:before { content: "\e666"; }
.uf-downarrow:before { content: "\e667"; }
.uf-downloadsymbol:before { content: "\e668"; }
.uf-downloadtostoragedrive:before { content: "\e669"; }
.uf-dribbblelogo:before { content: "\e66a"; }
.uf-dropboxlogo:before { content: "\e66b"; }
.uf-earthglobe:before { content: "\e66c"; }
.uf-editinterfacesign:before { content: "\e66d"; }
.uf-ejectsymbol:before { content: "\e66e"; }
.uf-envelopeofwhitepaper:before { content: "\e66f"; }
.uf-envelope:before { content: "\e670"; }
.uf-eurocurrencysymbol:before { content: "\e671"; }
.uf-exchangearrows:before { content: "\e672"; }
.uf-exclamationsign:before { content: "\e673"; }
.uf-exclamation:before { content: "\e674"; }
.uf-externallinksquarewithanarrowinrightdiagonal:before { content: "\e675"; }
.uf-externallinksymbol:before { content: "\e676"; }
.uf-eyeopen:before { content: "\e677"; }
.uf-eyewithadiagonallineinterfacesymbolforinvisibility:before { content: "\e678"; }
.uf-facebooklogo1:before { content: "\e679"; }
.uf-facebooklogo:before { content: "\e67a"; }
.uf-facetimebutton:before { content: "\e67b"; }
.uf-fastforwardarrows:before { content: "\e67c"; }
.uf-femalesilhouette:before { content: "\e67d"; }
.uf-fighterjetsilhouette:before { content: "\e67e"; }
.uf-file:before { content: "\e67f"; }
.uf-filmstripwithtwophotograms:before { content: "\e680"; }
.uf-filtertoolblackshape:before { content: "\e681"; }
.uf-fingerofahandpointingtorightdirection:before { content: "\e682"; }
.uf-fireextinguisher:before { content: "\e683"; }
.uf-firesymbol:before { content: "\e684"; }
.uf-flagblackshape:before { content: "\e685"; }
.uf-flickrwebsitelogosilhouette:before { content: "\e686"; }
.uf-fluffycloudsilhouette:before { content: "\e687"; }
.uf-folderclosedblackshape:before { content: "\e688"; }
.uf-folderwhiteshape:before { content: "\e689"; }
.uf-fontselectioneditor:before { content: "\e68a"; }
.uf-fontsymboloflettera:before { content: "\e68b"; }
.uf-forkandknifesilhouette:before { content: "\e68c"; }
.uf-forwardbutton:before { content: "\e68d"; }
.uf-fourblacksquares:before { content: "\e68e"; }
.uf-foursquarebutton:before { content: "\e68f"; }
.uf-frown:before { content: "\e690"; }
.uf-fullscreensymbol:before { content: "\e691"; }
.uf-gamepadconsole:before { content: "\e692"; }
.uf-giftbox:before { content: "\e693"; }
.uf-githubcharacter:before { content: "\e694"; }
.uf-githublogo:before { content: "\e695"; }
.uf-githubsign:before { content: "\e696"; }
.uf-gittipwebsitelogo:before { content: "\e697"; }
.uf-greatbritainpound:before { content: "\e699"; }
.uf-groupprofileusers:before { content: "\e69a"; }
.uf-halfstarshape:before { content: "\e69b"; }
.uf-handfingerpointingdown:before { content: "\e69c"; }
.uf-handpointingtoleftdirection:before { content: "\e69d"; }
.uf-handpointingupward:before { content: "\e69e"; }
.uf-harddrive:before { content: "\e69f"; }
.uf-heartshapeoutline:before { content: "\e6a0"; }
.uf-heartshapesilhouette:before { content: "\e6a1"; }
.uf-home:before { content: "\e6a2"; }
.uf-horizontalresizeoption:before { content: "\e6a3"; }
.uf-hostpitalbuilding:before { content: "\e6a4"; }
.uf-hotelletterhsigninsideablackroundedsquare:before { content: "\e6a5"; }
.uf-html5logo:before { content: "\e6a6"; }
.uf-inbox:before { content: "\e6a7"; }
.uf-increasesizeoption:before { content: "\e6a8"; }
.uf-indentright:before { content: "\e6a9"; }
.uf-informationbutton:before { content: "\e6aa"; }
.uf-informationsymbol:before { content: "\e6ab"; }
.uf-instagramsymbol:before { content: "\e6ac"; }
.uf-italicizetext:before { content: "\e6ad"; }
.uf-keyboard:before { content: "\e6ae"; }
.uf-leftarrow1:before { content: "\e6af"; }
.uf-leftarrow:before { content: "\e6b0"; }
.uf-leftindentationoption:before { content: "\e6b1"; }
.uf-legalhammer:before { content: "\e6b2"; }
.uf-lemon:before { content: "\e6b3"; }
.uf-leterainsideablackcircle:before { content: "\e6b4"; }
.uf-levelup:before { content: "\e6b5"; }
.uf-lightbulb:before { content: "\e6b6"; }
.uf-lightningboltshadow:before { content: "\e6b7"; }
.uf-linksymbol:before { content: "\e6b8"; }
.uf-linkedinletters:before { content: "\e6b9"; }
.uf-linkedinsign:before { content: "\e6ba"; }
.uf-listonwindow:before { content: "\e6bb"; }
.uf-listwithdots:before { content: "\e6bc"; }
.uf-list:before { content: "\e6bd"; }
.uf-listingoption:before { content: "\e6be"; }
.uf-longarrowpointingtoleft:before { content: "\e6bf"; }
.uf-longarrowpointingtotheright:before { content: "\e6c0"; }
.uf-longarrowpointingup:before { content: "\e6c1"; }
.uf-magicwand:before { content: "\e6c2"; }
.uf-magnifyingglass:before { content: "\e6c3"; }
.uf-man:before { content: "\e6c4"; }
.uf-mapmarker:before { content: "\e6c5"; }
.uf-medicalkit:before { content: "\e6c6"; }
.uf-mehfaceemoticon:before { content: "\e6c7"; }
.uf-microphoneblackshape:before { content: "\e6c8"; }
.uf-microphoneoff:before { content: "\e6c9"; }
.uf-minusbutton:before { content: "\e6ca"; }
.uf-minussigninsideablackcircle:before { content: "\e6cb"; }
.uf-minussigninsideablackroundedsquareshape:before { content: "\e6cc"; }
.uf-minussignonasquareoutline:before { content: "\e6cd"; }
.uf-minussymbol:before { content: "\e6ce"; }
.uf-mobilephone:before { content: "\e6cf"; }
.uf-moonphaseoutline:before { content: "\e6d0"; }
.uf-moveoption:before { content: "\e6d1"; }
.uf-musicheadphones:before { content: "\e6d2"; }
.uf-musicnoteblacksymbol:before { content: "\e6d3"; }
.uf-musicalbelloutline:before { content: "\e6d4"; }
.uf-nineblacktiles:before { content: "\e6d5"; }
.uf-numberedlist:before { content: "\e6d6"; }
.uf-openfolderoutline:before { content: "\e6d7"; }
.uf-openfolder:before { content: "\e6d8"; }
.uf-openlaptopcomputer:before { content: "\e6d9"; }
.uf-openpadlocksilhouette:before { content: "\e6da"; }
.uf-openwrenchtoolsilhouette:before { content: "\e6db"; }
.uf-padlockunlock:before { content: "\e6dc"; }
.uf-padlock:before { content: "\e6dd"; }
.uf-paperbill:before { content: "\e6de"; }
.uf-paperclipoutline:before { content: "\e6df"; }
.uf-paperpushpin:before { content: "\e6e0"; }
.uf-pastefromclipboard:before { content: "\e6e1"; }
.uf-pausesymbol:before { content: "\e6e2"; }
.uf-pencil:before { content: "\e6e3"; }
.uf-photocamera:before { content: "\e6e4"; }
.uf-picture:before { content: "\e6e5"; }
.uf-plane:before { content: "\e6e7"; }
.uf-plantleafwithwhitedetails:before { content: "\e6e8"; }
.uf-playbutton:before { content: "\e6e9"; }
.uf-playcircle:before { content: "\e6ea"; }
.uf-playsign:before { content: "\e6eb"; }
.uf-playvideobutton:before { content: "\e6ec"; }
.uf-plusblacksymbol:before { content: "\e6ed"; }
.uf-plussigninablackcircle:before { content: "\e6ee"; }
.uf-plussymbolinaroundedblacksquare:before { content: "\e6ef"; }
.uf-powerbuttonoff:before { content: "\e6f0"; }
.uf-printingtool:before { content: "\e6f1"; }
.uf-puzzlepiecesilhouette:before { content: "\e6f2"; }
.uf-qrcode:before { content: "\e6f3"; }
.uf-questionmarkonacircularblackbackground:before { content: "\e6f4"; }
.uf-questionsign:before { content: "\e6f5"; }
.uf-quoteleft:before { content: "\e6f6"; }
.uf-reducedvolume:before { content: "\e6f7"; }
.uf-refresharrow:before { content: "\e6f8"; }
.uf-refreshpageoption:before { content: "\e6f9"; }
.uf-removebutton:before { content: "\e6fa"; }
.uf-removesymbol:before { content: "\e6fb"; }
.uf-renrensocialnetworkofchinalogotype:before { content: "\e6fc"; }
.uf-reorderoption:before { content: "\e6fd"; }
.uf-replyarrow:before { content: "\e6fe"; }
.uf-reply:before { content: "\e6ff"; }
.uf-resizeoption:before { content: "\e700"; }
.uf-retweetarrowssymbol:before { content: "\e701"; }
.uf-rewindbutton:before { content: "\e702"; }
.uf-rightarrowinacircle:before { content: "\e703"; }
.uf-rightchevron:before { content: "\e704"; }
.uf-rightquotationmark:before { content: "\e705"; }
.uf-roadperspective:before { content: "\e706"; }
.uf-roundedblacksquareshape:before { content: "\e707"; }
.uf-savefileoption:before { content: "\e70a"; }
.uf-screenshot:before { content: "\e70b"; }
.uf-settings:before { content: "\e70c"; }
.uf-shareoption:before { content: "\e70d"; }
.uf-sharepostsymbol:before { content: "\e70e"; }
.uf-sharesymbol:before { content: "\e70f"; }
.uf-shield:before { content: "\e710"; }
.uf-shoppingcartblackshape:before { content: "\e711"; }
.uf-signin:before { content: "\e712"; }
.uf-signoutoption:before { content: "\e713"; }
.uf-signalbars:before { content: "\e714"; }
.uf-sitemap:before { content: "\e715"; }
.uf-smallrocketshipsilhouette:before { content: "\e716"; }
.uf-smile:before { content: "\e717"; }
.uf-sortarrowscouplepointingupanddown:before { content: "\e718"; }
.uf-sortbyalphabet:before { content: "\e719"; }
.uf-sortbyattributesinterfacebuttonoption:before { content: "\e71a"; }
.uf-sortbyattributes:before { content: "\e71b"; }
.uf-sortbynumericorder:before { content: "\e71c"; }
.uf-sortbyorder:before { content: "\e71d"; }
.uf-sortdown:before { content: "\e71e"; }
.uf-sortreversealphabeticalorder:before { content: "\e71f"; }
.uf-sortup:before { content: "\e720"; }
.uf-speechbubblescommentoption:before { content: "\e721"; }
.uf-spinnerofdots:before { content: "\e722"; }
.uf-squareshapeshadow:before { content: "\e723"; }
.uf-stackexchangelogo:before { content: "\e724"; }
.uf-stackexchangesymbol:before { content: "\e725"; }
.uf-star1:before { content: "\e726"; }
.uf-starhalfempty:before { content: "\e727"; }
.uf-star:before { content: "\e728"; }
.uf-stepbackward:before { content: "\e729"; }
.uf-stepforward:before { content: "\e72a"; }
.uf-stethoscope:before { content: "\e72b"; }
.uf-strikethrough:before { content: "\e72c"; }
.uf-suitcasewithwhitedetails:before { content: "\e72d"; }
.uf-sun:before { content: "\e72e"; }
.uf-tablegrid:before { content: "\e730"; }
.uf-tagblackshape:before { content: "\e731"; }
.uf-tags:before { content: "\e732"; }
.uf-taskslist:before { content: "\e733"; }
.uf-telephonehandlesilhouette:before { content: "\e734"; }
.uf-telephonesymbolbutton:before { content: "\e735"; }
.uf-terminal:before { content: "\e736"; }
.uf-textfile1:before { content: "\e737"; }
.uf-textfile:before { content: "\e738"; }
.uf-textheightadjustment:before { content: "\e739"; }
.uf-textwidth:before { content: "\e73a"; }
.uf-thinarrowheadspointingdown:before { content: "\e73b"; }
.uf-threesmallsquareshapes:before { content: "\e73c"; }
.uf-thumbdown:before { content: "\e73d"; }
.uf-thumbsdownsilhouette:before { content: "\e73e"; }
.uf-thumbsuphandsymbol:before { content: "\e73f"; }
.uf-thumbsup:before { content: "\e740"; }
.uf-ticket:before { content: "\e741"; }
.uf-time:before { content: "\e742"; }
.uf-tintdrop:before { content: "\e743"; }
.uf-trash:before { content: "\e744"; }
.uf-trellowebsitelogo:before { content: "\e745"; }
.uf-trophy:before { content: "\e746"; }
.uf-twocolumnslayout:before { content: "\e747"; }
.uf-ushapedthickmagnet:before { content: "\e748"; }
.uf-umbrellablacksilhouette:before { content: "\e749"; }
.uf-underlinetextoption:before { content: "\e74a"; }
.uf-undoarrow:before { content: "\e74b"; }
.uf-unlinksymbol:before { content: "\e74c"; }
.uf-uparrow:before { content: "\e74d"; }
.uf-upchevronbutton:before { content: "\e74e"; }
.uf-uploadbutton:before { content: "\e74f"; }
.uf-upload:before { content: "\e750"; }
.uf-usermdsymbol:before { content: "\e751"; }
.uf-usershape:before { content: "\e752"; }
.uf-verticalellipsis:before { content: "\e753"; }
.uf-yensymbol:before { content: "\e757"; }
.uf-youtubelogo:before { content: "\e75a"; }
.uf-zoomin:before { content: "\e75b"; }
.uf-zoomout:before { content: "\e75c"; }
.uf-addsquarebutton2:before { content: "\e607"; }
.uf-downarrow1:before { content: "\e6e6"; }
.uf-leftarrow1:before { content: "\e708"; }
.uf-rightarrow:before { content: "\e709"; }
.uf-warningmd:before { content: "\e698"; }
.uf-guanbi:before { content: "\e76c"; }
.uf-shanchuyuan:before { content: "\e76d"; }
.uf-shareto_weixin:before { content: "\e761"; }
.uf-shareto_qq:before { content: "\e762"; }
.uf-jsonfile:before { content: "\e76e"; }
.uf-Kafka:before { content: "\e76f"; }
.uf-chazhuangshanchu:before { content: "\e770"; }
.uf-tianqidafeng:before { content: "\e775"; }
.uf-tianqibaoxue:before { content: "\e776"; }
.uf-tianqibingbao:before { content: "\e777"; }
.uf-tianqifengbao:before { content: "\e778"; }
.uf-tianqixiaoyu:before { content: "\e779"; }
.uf-tianqizhenxue:before { content: "\e77a"; }
.uf-tianqizhongyu:before { content: "\e77b"; }
